*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }



.name{
    text-align:center;
    margin-top: 80px;
    position: relative;
    color:orangered;
    padding-top: 30px;
    padding-left: 180px;
    font-size: 35px;

    
}

 @media screen and (max-width:600px)
  {
  .name{
    font-size: 15px;
    
    text-align: left;
    

       }
  
 }
.add{
    margin-left: 900px;
    margin-top: 75px;
    font-size: 25px;
    text-align: center;
    height: 40px;
    background-color: red;
    color: white;
    
    display: inline-block;

    border-style: solid;
    border-width: 2px;
    border-color: #0c0c0c;
    position: relative;
    border-radius: 20px;
    behavior: scroll ;
    
    
    
}
@media screen and (max-width:600px)
{
  .add{
    margin-left: 0px;
    margin-top: -100px;
    height: 25px;
    font-size: 18px;
    
  }
}



/*-------------------- college detail---------------------*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro
  }
  
  .column
  {
      width:25%;
      float:left;
      padding:100px 10px;
      margin-left: 270px ;
  }
  .column2
  {
      width:25%;
      float:left;
      padding:100px 10px;
      margin-left:270px ;
  }
  .column3
  {
      width:25%;
      float:left;
      padding:100px 10px;
      margin-left:600px ;
  }
  .column4
  {
      width:25%;
      float:left;
      padding:100px 10px;
      margin-left:600px ;
  }
  


  .row:after{
      content:"";
      display:table;
      clear:both;
  }
  .college{
    margin-top: 5px;
      font-size: 18px;

  }
  .new{
      margin-top: 10px;
  }
  .new a{
    font-size: 15px;
  }



 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
          margin-right: 1000px;
          margin-left: 15px;

      }
  }
  
  @media screen and (max-width:600px)
  {
      .column2
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
          margin-left: 15px;

      }
  }

@media screen and (max-width:600px)
{
    .column3
    {
        width:100%;
        display:block;
        margin-bottom: 20px;
        margin-left: 15px;

    }
}

@media screen and (max-width:600px)
{
    .column4
    {
        width:100%;
        display:block;
        margin-bottom: 20px;
        margin-left: 15px;

    }
}





  .card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
      height: 250px;

  }
  .card2
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
      height: 265px;

  }
  
 
  .card3
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
      height: 250px;

  }
  .card4
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
      height: 300px;

  }
   .title
  {
      color:gray;
      font-size:13px;
      margin-top: 5px;
  }

  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:orangered;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
      margin-top: 50px;
  }
  @media screen  and (max-width:600px)
  {
    .button{
      margin-left:25px;
      font-size: 15px;
      padding: 4px;
      margin-top: -30px;
      
      
    
    }
    
  }

  a{
      text-decoration: none;
      font-size:22px;
      color:black;
  }

  a:hover,button:hover{
      opacity: 0.6;
  }
  .column
  {
      width:25%;
      float:left;
      padding:100px 10px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .title
  {
      color:gray;
      font-size:13px;
  }

  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:orangered;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
      margin-top: 10px;
  }
/*-------------------- footer--------------------*/ 
